
.GameFrame {
    display: flex;
    flex-direction: row;
    background: #EDE8E0;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.PlayingBoard {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.WordBoard {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.BoardRow {
    display: flex;
    flex-direction: row;
}

.InfoBoard {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
}
.LetterTile {
    /*position: relative;*/
    display: flex;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    height: 44px;
    min-height: 44px;
    width: 44px;
    min-width: 44px;
    font-family: "Tamil Sangam MN";
    font-size: 20px;
    font-weight: bold;
    color: black;
    z-index: 5;
    position: relative;
    box-sizing: border-box;
    resize: none;
}

.LetterTile.MEY {
    background: #B5D4E6;
    border: 1px solid #8AB8CE;
}

.LetterTile.UYIR {
    background: #E8BAA8;
    border: 1px solid #CC9480;
}
.LetterTile.UYIRMEY {
    background: rgb(0, 0, 0);
    color: white;
    /*border: 1px solid rgb(229, 181, 103);*/
}
.LetterTile.BONUS {
    background: #F0DCA8;
    border: 1px solid #D4B870;
}

.LetterTile.Played {
    background: #F0DCA8;
    border: 1px solid #D4B870;
    color: black;
}

.LetterTile.RACK {
    margin: 2px;
}

.Points {
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 12px;
}

.RackSlot {
    height: 46px;
    width: 46px;
}

.Square {
    display: flex;
    border: 0px;
    border-radius: 6px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: bold;
    background: #CCC8C0;
    color: black;
    overflow: visible;
    user-select: none;
}

.Square.Word3 {
     background: #B83230;
}
.Square.Word2 {
    background: #D4A843;
}
.Square.Letter3 {
    background: #0D6E5C;
}
.Square.Letter2 {
    background: #7BC8B5;
}

.Multiplier {
    position: absolute;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.Square.Letter2 .Multiplier {
    color: #1a1a1a;
}

.Square.Starred .Star{
    font-size: 36px;
    z-index: 0;
    color: #B83230;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.Square.Starred .StarMultiplier {
    z-index: 1;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
}

.Square.Starred {
    background: #D4A843;
}

.DropShadow {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 40px;
    width: 40px;
    z-index: 1;
    opacity: 0.5;
    background-color: black;
    border-radius: 6px;
    border: 0px;
}

.Consonants {
    display: flex;
    flex-direction: row;
}

.Vowels {
    display: flex;
    flex-direction: row;
}

@keyframes tilt-shaking {
    0% {
        transform: rotate(5deg);
        /*background: rgb(158, 218, 255);*/
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(-5deg);
        /*background: rgb(103, 181, 229);*/
        animation-timing-function: ease-out;
    }
    100% {
        transform: rotate(5deg);
        /*background: rgb(158, 218, 255);*/
        animation-timing-function: ease-in;
    }
}

@keyframes darkening-uyir {

    0% {
        background: #E8BAA8;
        animation-timing-function: ease-in;
    }
    50% {
        background: black;
        color: white;
        border-color: black;
        animation-timing-function: ease-out;
    }
    100% {
        background: #E8BAA8;
        animation-timing-function: ease-in;
    }
}

@keyframes darkening-mey {

    0% {
        background: #B5D4E6;
        animation-timing-function: ease-in;
    }
    50% {
        background: rgb(0 ,0, 0);
        border-color: black;
        color: white;
        animation-timing-function: ease-out;
    }
    100% {
        background: #B5D4E6;
        animation-timing-function: ease-in;
    }
}

@keyframes darkening-uyirmey {

    0% {
        background: rgb(0, 0, 0);
        animation-timing-function: ease-in;
    }
    50% {
        /*background: rgb(40, 72, 90);*/
        background: rgb(255 ,255, 255);
        border-color: white;
        color: black;
        animation-timing-function: ease-out;
    }
    100% {
        background: rgb(0, 0, 0);
        animation-timing-function: ease-in;
    }
}

@keyframes darkening-bonus {

    0% {
        background: #F0DCA8;
        animation-timing-function: ease-in;
    }
    50% {
        background: #D4B870;
        animation-timing-function: ease-out;
    }
    100% {
        background: #F0DCA8;
        animation-timing-function: ease-in;
    }
}

.activated {
    border: 2px solid #C0392B !important;
    box-shadow: 0 0 4px rgba(192, 57, 43, 0.4);
}

.LetterRack {
    /*height: 40vh;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    /*padding-right: 20px;*/
    /*padding-bottom: 20px;*/
}

.ActionPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.ActionMenu {
    width: auto;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    /*width: 100%;*/
    border-radius: 5px;
    position: relative;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*border-top-left-radius: 0px;*/
    /*border-top-right-radius: 0px;*/
    /*flex-wrap: wrap;*/
}

.ValidatingToast {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1565c0;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-family: "Tamil Sangam MN", sans-serif;
    white-space: nowrap;
    margin-bottom: 8px;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 8px;
}

.Spinner {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.InvalidWordsToast {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e53935;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-family: "Tamil Sangam MN", sans-serif;
    white-space: nowrap;
    margin-bottom: 8px;
    z-index: 100;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(-50%) translateY(4px); }
    10% { opacity: 1; transform: translateX(-50%) translateY(0); }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

.ActionMenuButton {
    height: 44px;
    width: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*font-size: 44px;*/
    color: white;
    background-color: #1A5276;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
}
#SubmitButton {
    min-width: 200px;
}

.ActionMenuButton:hover {
    background-color: #2176A8;
}
/*.ActionMenuButton:click {*/
/*    background-color: lightgray;*/
/*}*/

.ChooseLetter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*right: 0;*/
    z-index: 200000;
    background-color: white;
    color: black;
    padding: 15px;
    min-width: 160px;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: normal;
    /*align-content: center;*/
    /*align-items: center;*/
}

#ChooseLetterButton
{
    background-color: #1A5276;
    width: 60px;
    height: 36px;
    border: 0px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.ChooseLetterRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    vertical-align: middle;

}

#CloseChooseLetter {
    position: absolute;
    top: -30px;
    right: 0;
}